---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
@import "_layout";
@import "_menu";
@import "_base";
@import "_page";
@import "_post";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";