
//
// VARIABLES
//

// Colors
$blue: #4183C4;

$primary: $blue;
$primary-light: lighten($primary, 20%);


// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$font-alt: "PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif;
$font-text: "PT Serif",Georgia,"Times New Roman","DejaVu Serif",serif;

$font-size-base: 16px;

// Mobile breakpoints
@mixin xsmall {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: 749px) {
    @content;
  }
}

@mixin normal {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin wide {
  @media screen and (max-width: 1820px) {
    @content;
  }
}
